.DS_Store
.idea/
/Knowledge-graph-for-LoTAF/Ontology_implementation/output.rdf
/intent-assurance/ca_location/hexa-x-ii-ca.crt
/intent-assurance/keystore/tid.client.keystore.jks
/intent-assurance/chatbot/.env/
/intent-assurance/chatbot/rasa/actions/__pycache__/
/intent-assurance/chatbot/rasa/.rasa/
/intent-assurance/keystore/tid.client.keystore.jks